@import "tailwindcss";

.container {
  width: 96% !important;
  max-width: none !important;
  margin-inline: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #3e90ee;
}

/* ::-webkit-scrollbar-track {
  background: #ffffff;
} */

.scroll::-webkit-scrollbar-thumb {
  background: #838485;
}

/* React collapse */
.ReactCollapse--collapse {
  transition: height 400ms;
}

/* react-range-slider-input */
.range-slider {
  height: 4px !important;
}

.range-slider .range-slider__thumb {
  width: 17px !important;
  height: 17px !important;
}

/* react-international-phone */
.react-international-phone-input {
  width: 100% !important;
  height: 3.5rem !important;
  font-size: large !important;
}

.react-international-phone-country-selector-button {
  width: 100% !important;
  height: 3.5rem !important;
}

.react-international-phone-country-selector-dropdown {
  z-index: 10 !important;
}

/* my-account page active link */

.my-account .active {
    background: #bae4f9 !important;
}

.my-account .active::before{
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #3e90ee !important;
}

.my-account .active svg {
  color: #3e90ee !important;
}